<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whispers of Comala</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/ce3c8c944f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Whispers of Comala</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/station1">Station #1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/station2">Station #2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/station3">Station #3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/station4">Station #4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container mt-4">
  <ul class="list-group" id="">
    <script>
     let allTeams = JSON.parse('<%- JSON.stringify(allTeams) %>');
    </script>
    <% allTeams.forEach(function (team, index) { %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= team.name %>
        <span class="badge bg-primary rounded-pill"><%= team.points %></span>
      </li>
    <% }) %>
  </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<script>
  var socket = io();
  socket.on('updateLeaderboard', function(team){
    var exists = false;
    allTeams.forEach(function (oldTeam) { 
      if(oldTeam.name == team.name){
        exists = true;
        oldTeam.points = team.points;
        oldTeam.lastStation++;
      }
    })
    if(!exists){
      allTeams.push(team);
    }
    allTeams.sort((a, b) => b.points - a.points);
    document.querySelector('.list-group').innerHTML = "";
    allTeams.forEach(function (team, index) {
      document.querySelector('.list-group').innerHTML += `
        <li class="list-group-item d-flex justify-content-between align-items-center">
          ${team.name}
          <span class="badge bg-primary rounded-pill">${team.points}</span>
        </li>
      `;
    });
  });
</script>

</body>
</html>
